.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(247, 247, 247);
  padding: 40px 0;
  margin-top: 2em;
}

.dark-mode .projects {
  background-color: rgb(0, 0, 0);
}

.project-box {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; 
  margin: 40px 0;
  width: 80%;
  border-radius: 8px;
  border: 1px solid white;
  overflow: hidden;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.project-box img {
  margin: 3px;
  border-radius: 8px;
}

.project-box video {
  width: 45%; 
  height: 250px; 
  object-fit: cover; 
  border-radius: 8px;
  border: 1px solid white;
}

.project-info {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
}

.project-info h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.project-info p {
  font-size: 1rem;
  margin-bottom: 20px;
}

.project-languages {
  display: flex;
  justify-content: start;
  gap: 1px;
  margin-bottom: 20px;
}

.language-icon {
  width: 25px;
  height: 25px;
  object-fit: contain;
  transition: transform 0.3s, opacity 0.3s;
}

.language-icon:hover {
  transform: scale(1.2);
  opacity: 0.8;
}

.project-buttons {
  display: flex;
  gap: 15px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a5a1a1;
  color: rgb(0, 0, 0);
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 0.9rem;
}

.button:hover {
  background-color: #cfcfcf;
}

.button svg {
  margin-left: 8px;
}

@media (max-width: 1024px) {
  .project-box {
    flex-direction: column;
    width: 90%; 
    padding: 15px; 
    border: none;
  }

  .project-box video {
    width: 100%;
    display: block; 
  }

  .project-info {
    width: 100%;
    text-align: center;
  }

  .project-info h3 {
    font-size: 1.6rem;
  }

  .project-info p {
    font-size: 0.9rem;
  }

  .project-buttons {
    justify-content: center;
  }
}

@media (max-width: 768px) {
  .project-box {
    width: 100%;
    border: none;
  }

  .project-info h3 {
    font-size: 1.4rem;
  }

  .project-info p {
    font-size: 0.85rem;
  }

  .button {
    padding: 8px 12px;
    font-size: 0.8rem;
  }

  .language-icon {
    width: 20px;
    height: 20px;
  }

  .project-box video {
    display: block; 
    width: 100%;
    height: auto; 
  }
}

@media (max-width: 480px) {
  .project-info h3 {
    font-size: 1.2rem;
  }

  .project-info p {
    font-size: 0.75rem;
  }

  .button {
    padding: 6px 10px;
    font-size: 0.7rem;
  }

  .language-icon {
    width: 18px;
    height: 18px;
  }

  .project-box video {
    display: block; 
    width: 100%;
    height: auto;
  }
}